
<table>
<thead>
<tr class="header">
<th align="left">method</th>
<th align="right">Residual_standard_erro</th>
<th align="right">Adjusted_R_squared</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td align="left">Original model</td>
<td align="right">1996.369</td>
<td align="right">0.3474183</td>
</tr>
</tbody>
</table>


